﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PJUS</title>

    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/jqueryui-css")
    @Styles.Render("~/Content/jqGrid-css")
    @Styles.Render("~/Content/toastr-css")
    @Styles.Render("~/Content/dataTables-css")
    @Styles.Render("~/Content/datepicker-css")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/sweetalert")
    @Styles.Render("~/Content/chosen")


    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-submenu.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .affix {
            top:0;
            width:83.65%;
            z-index:10;
            position: fixed;
        }
        .select2-close-mask{
            z-index:2099;
        }
        .select2-dropdown{
            z-index:3051;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body class="fixed-sidebar">

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        @Html.Partial("_Navigation")


        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

        </div>
        <!-- End page wrapper-->

    </div>
    <input type="hidden" value='@TempData["ReturnMessage"]' id="returnMessage" />
    <input type="hidden" value='@TempData["ReturnErrorMessage"]' id="returnErrorMessage" />
    <!-- End wrapper-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/helpers")

    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/plugins/jqGrid-js")
    @Scripts.Render("~/plugins/momentjs")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr-js")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/numeric")
    @Scripts.Render("~/plugins/sweetalert")
    @Scripts.Render("~/plugins/chosen")


    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ajaxStop(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
