﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Início</span> </a>
            </li>
            <li class="@Html.IsSelected(controllers: new string[] {"Cep"})">
                <a href="#"><i class="fa fa-clipboard"></i> <span class="nav-label">CEP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "Cep")">CEPs</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>