﻿@model CepMvcApp.Main.Models.CepViewModel
@{
    ViewBag.Title = "CEP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet">
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/textcounter/textcounter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/select2/select2.full.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/numeric/jquery.numeric.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/helpers/dropdown-helpers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Cep/form.js")"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>CEP</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li id="aba-cadastro" class="active"><a data-toggle="tab" href="#tab-1">Cadastro</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-spy="affix" data-offset-top="131">
                                    <a data-toggle="tab" href="#">
                                        <input type="button" value="Salvar" class="btn btn-primary" style="margin-right: 20px" onclick="salvarCadastro()" />
                                    </a>
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("SalvarForm", "Cep", FormMethod.Post, new { @id = "form-cadastro" }))
                                    {
                                    <div class="form-horizontal">

                                        @Html.HiddenFor(model => model.ID, new { @id = "id" })


                                        @if (String.IsNullOrWhiteSpace(Model.Valor))
                                        {
                                            <div class="form-group">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-10">
                                                    <input type="text" placeholder="_____-___" id="buscacep" class="buscacep form-control" />
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-10">
                                                    <input type="button" data-url="@Url.Action("GetDadosBuscadorCep", "Cep", null, Request.Url.Scheme)" value="Consultar CEP" id="btn-buscacep" class="btn btn-primary fa fa-search" />
                                                </div>
                                            </div>
                                        }


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Valor, new { @class = "lbcep control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Valor, new { @readonly = true, placeholder = "_____-___", Value = Model.Valor, @id = "cep", @class = "cep form-control" })
                                                @Html.ValidationMessageFor(model => model.Valor)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CodigoIBGE, new { @class = "lbcodigoibge control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.CodigoIBGE, new { Value = Model.CodigoIBGE, @id = "codigoibge", @class = "codigoibge form-control" })
                                                @Html.ValidationMessageFor(model => model.CodigoIBGE)
                                            </div>
                                        </div>

                                        <div class="form-group hidden">
                                            @Html.LabelFor(model => model.IDUnidadeFederativa, new { @class = "lbunidadefederativva control-label col-md-2" })
                                            <div class="col-md-10">
                                                <select id="unidadefederativa" name="idUnidadeFederativa" ajax-url=@Url.Action("ListDropDown", "UnidadeFederativa", null, Request.Url.Scheme) value=@Model.IDUnidadeFederativa></select>
                                                @Html.HiddenFor(model => model.IDUnidadeFederativa, new { Value = Model.IDUnidadeFederativa, @id = "valorIdUnidadeFederativa" })
                                                @Html.ValidationMessageFor(model => model.IDUnidadeFederativa)
                                            </div>
                                        </div>

                                        <div class="form-group hidden">
                                            @Html.LabelFor(model => model.IDDiscagemDiretaDistancia, new { @class = "lbdiscagemdiretadistancia control-label col-md-2" })
                                            <div class="col-md-10">
                                                <select id="discagemdiretadistancia" name="idDiscagemdiretadistancia" ajax-url=@Url.Action("List", "DiscagemDiretaDistancia", null, Request.Url.Scheme) value=@Model.IDDiscagemDiretaDistancia></select>
                                                @Html.HiddenFor(model => model.IDDiscagemDiretaDistancia, new { Value = Model.IDDiscagemDiretaDistancia, @id = "valorDiscagemDiretaDistancia" })
                                                @Html.ValidationMessageFor(model => model.IDDiscagemDiretaDistancia)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IDLocalidade, new { @class = "lblocalidade control-label col-md-2" })
                                            <div data-ajax-url=@Url.Action("SalvarViaAjax", "Localidade", null, Request.Url.Scheme) id="dadosSalvarLocalidadeViaAjax"></div>
                                            <div class="col-md-10">
                                                <select id="localidade" name="idLocalidade" ajax-url=@Url.Action("ListDropDown", "Localidade", null, Request.Url.Scheme) value=@Model.CodigoIBGE></select>
                                                @Html.HiddenFor(model => model.IDLocalidade, new { Value = Model.CodigoIBGE, @id = "valorIdLocalidade" })
                                                @Html.ValidationMessageFor(model => model.IDLocalidade)
                                            </div>
                                        </div>

                                        <div class="form-group hidden">
                                            @Html.LabelFor(model => model.IDBairro, new { @class = "lbbairro control-label col-md-2" })
                                            <div class="col-md-10">
                                                <select id="bairro" name="idBairro" ajax-url=@Url.Action("List", "Bairro", null, Request.Url.Scheme) value=@Model.IDBairro></select>
                                                @Html.HiddenFor(model => model.IDBairro, new { Value = Model.IDBairro, @id = "valorIdBairro" })
                                                @Html.ValidationMessageFor(model => model.IDBairro)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Logradouro, new { @class = "lblogradouro control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Logradouro, new { Value = Model.Logradouro, @id = "logradouro", @class = "logradouro form-control" })
                                                @Html.ValidationMessageFor(model => model.Logradouro)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Complemento, new { @class = "lbcomplemento control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Complemento, new { Value = Model.Complemento, @id = "complemento", @class = "complemento form-control" })
                                                @Html.ValidationMessageFor(model => model.Complemento)
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Gia, new { @class = "lbgia control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Gia, new { @readonly = true, Value = Model.Gia, @id = "gia", @class = "gia form-control" })
                                                @Html.ValidationMessageFor(model => model.Gia)
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Siafi, new { @class = "lbsiafi control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Siafi, new { @readonly = true, Value = Model.Siafi, @id = "siafi", @class = "siafi form-control" })
                                                @Html.ValidationMessageFor(model => model.Siafi)
                                            </div>
                                        </div>

                                    </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>