﻿@model IEnumerable<CepMvcApp.Main.Models.CepViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/helpers/url-helpers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/helpers/dataTables-helpers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Cep/index.js")"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>CEPs</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="overflow-x: scroll;">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @{ Html.RenderPartial("~/Views/Toolbars/IndexToolbar.cshtml"); }
            </div>
            <div class="ibox-content">
                <table id="datatable" style="width: 100%;" data-url='@Url.Action("List","Cep")' data-url-edit='@Url.AbsoluteUrlNoController("Form")' data-url-delete='@Url.AbsoluteUrlNoController("Delete")' class="table table-bordered table-hover"></table>
                <div id="datatable-pager"></div>
            </div>
        </div>
    </div>
</div>