﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>500 Erro Interno</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Ocorreu um Erro Interno no servidor</h3>

        <div class="error-desc">
            Desculpe. A ação executada resultou em um erro no servidor. Por favor tente novamente. Se o problema persistir, entre em contato com o Administrador.
        </div>
    </div>


</body>

</html>