﻿@{
    ViewBag.Title = "Main";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/Home/index.js")"></script>
}

<div class="index-custom-container">
    <div class="animated fadeInRight index-custom blur-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        @ViewData["SubTitle"]
                    </h1>
                    <small>@ViewData["Message"]</small>
                </div>
            </div>
        </div>
    </div>
</div>